{% extends 'store/templa.html' %}
{% load static %}
{% block content %}

<div class="body3">
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element checkout" id="form-wrapper">
                <form action="/register/" method="post" id="form">
                    {% csrf_token %}
                    <div class="user-info">
                        <p>Create Account</p>
                        <hr>
                        <div class="form-field">
                            <input required class="form-control" type="text" name="username" placeholder="Username..">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="text" name="name" placeholder="Full Name..">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="email" name="email" placeholder="Email..">
                        </div>
                    </div>
                
                <div class="shipping-info" id="shipping-info2">
                    <br>
                    <div class="form-field">
                        <input required class="form-control" type="password" name="password" placeholder="Password..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="password" name="password2" placeholder="Confirm Password..">
                    </div>
                    <br>

                </div>
                <hr>
                <input id="form-button" class="" type="submit" value="Register">

                </form>

                

            </div>
        </div>
    </div>
</div>
{% endblock content %}